#unit1 {
    font-size: 1%;
}

#unit2 {
    font-size: 1em;
}

#unit3 {
    font-size: 1rem;
}

#unit4 {
    font-size: 1vw;
}

#unit5 {
    font-size: 1vh;
}

#unit6 {
    font-size: 1vmin;
}

#unit7 {
    font-size: 1vmax;
}

#unit8 {
    font-size: 1px;
}

#unit9 {
    font-size: 1pt;
}

@media screen and (min-width: 768px) {
    body {
        background-color: rgb(255,255,255);
    }

}

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(133,133,133);
    }

}
@media screen and (min-width: 1440px) {
    body {
        background-color: rgb(30,30,30);
    }

}